/**
 * tnxel.css
 * 对Element Plus样式的调整
 */
.text-regular {
    color: var(--el-text-color-regular);
}

.text-secondary {
    color: var(--el-text-color-secondary);
}

.text-placeholder {
    color: var(--el-text-color-placeholder);
}

.text-primary {
    color: var(--el-color-primary) !important;
}

.bg-primary {
    background-color: var(--el-color-primary) !important;
    color: #ffffff;
}

.border,
.border-top,
.border-bottom,
.border-start,
.border-end {
    border-color: var(--el-border-color-base) !important;
}

.border-primary {
    border-color: var(--el-color-primary) !important;
}

.el-dropdown-menu__item i {
    margin-right: 0.25rem;
}
