/**
 * tnxel-color.css
 * 对Element Plus颜色相关CSS的调整。
 * 之所以拆分成颜色和布局两部分的原因是，工程可能使用定制颜色主题的样式库，本颜色样式库应在工程定制颜色主题的样式库之前引入。
 */
.text-regular {
    color: var(--el-text-color-regular);
}

.text-secondary {
    color: var(--el-text-color-secondary);
}

.text-placeholder {
    color: var(--el-text-color-placeholder);
}

.border,
.border-top,
.border-bottom,
.border-start,
.border-end {
    border-color: var(--el-border-color-base) !important;
}
