/*!
 * tnxcore.css
 */
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.plain,
a.plain:hover,
a.plain:focus {
    color: inherit;
    text-decoration: none;
}

/**
 * 水平和垂直都居中
 */
.flex-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

/**
 * 垂直居中
 */
.flex-v-center {
    display: flex !important;
    align-items: center !important;
}

/**
 * 水平居中
 */
.flex-h-center {
    display: flex !important;
    justify-content: center !important;
}

.w-fit-content {
    width: fit-content !important;
}

.fs-1r {
    font-size: 1rem !important;
}

.fs-p80 {
    font-size: 80% !important;
}

.fs-p90 {
    font-size: 90% !important;
}

.fs-p110 {
    font-size: 110% !important;
}

.fs-p120 {
    font-size: 120% !important;
}

.strong {
    font-weight: bold;
}

ul {
    margin: 0;
    padding-left: 1rem;
}

.line-height-1 {
    line-height: 1;
}

.line-height-1rem {
    line-height: 1rem;
}

span.nowrap {
    white-space: nowrap;
}

[role="button"],
.cursor-pointer {
    cursor: pointer;
}

.text-transparent {
    color: transparent !important;
}

i + span:not([class]) {
    margin-left: 0.25rem;
}

div[contenteditable][placeholder]:empty:before {
    content: attr(placeholder);
    position: relative;
    color: #C0C4CC;
}
