/*!
 * tnxcore.css
 */
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.plain,
a.plain:hover,
a.plain:focus {
    color: inherit;
    text-decoration: none;
}

/**
 * 水平和垂直都居中
 */
.flex-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

/**
 * 垂直居中
 */
.flex-v-center {
    display: flex !important;
    align-items: center !important;
}

/**
 * 水平居中
 */
.flex-h-center {
    display: flex !important;
    justify-content: center !important;
}

.w-fit-content {
    width: fit-content !important;
}

.h-fit-content {
    height: fit-content !important;
}

.fs-1r,
.fs-base {
    font-size: 1rem !important;
}

.fs-7,
.fs-small {
    font-size: 14px !important;
}

.fs-p80 {
    font-size: 80% !important;
}

.fs-p90 {
    font-size: 90% !important;
}

.fs-p110 {
    font-size: 110% !important;
}

.fs-p120 {
    font-size: 120% !important;
}

.strong {
    font-weight: bold;
}

ul {
    margin: 0;
    padding-left: 1rem;
}

.line-height-1 {
    line-height: 1;
}

.line-height-1rem {
    line-height: 1rem;
}

.nowrap {
    white-space: nowrap;
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

[role="button"],
.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

.text-transparent {
    color: transparent !important;
}

.el-button [class*=el-icon-] + span:not([class]),
i + span:not([class]) {
    margin-left: 0.25rem;
}

div[contenteditable][placeholder]:empty:before {
    content: attr(placeholder);
    position: relative;
    color: #C0C4CC;
}

.overflow-hidden {
    overflow: hidden;
}

/**
 * 单行文本溢出时显示省略号
 */
.overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/**
 * 两行文本溢出时显示省略号
 */
.overflow-ellipsis-2 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.border-white {
    border-color: white !important;
}

.border-transparent {
    border-color: transparent !important;
}
