/*
 * app.css
 */

html, body {
    height: 100%;
}

#app {
    height: auto;
    min-height: 100%;
}

.page-container {
    padding-top: 56px;
}

.el-main {
    padding: 1rem;
}

.text-primary {
    color: #409EFF !important;
}

.text-muted {
    color: #909399 !important;
}

.bg-primary {
    background-color: #409EFF !important;
}

.bg-muted {
    background-color: #fafafa !important;
}

.bg-white {
    background-color: #fff !important;
}

header[theme='primary'] {
    background-color: #409EFF;
    color: #ffffff;
}

header[theme='primary'] a,
header[theme='primary'] a:hover,
header[theme='primary'] .el-link--default,
header[theme='primary'] .el-link--default:hover,
header[theme='primary'] .el-dropdown {
    color: #ffffff;
}

header[theme='primary'] .el-avatar {
    background-color: #ffffff;
}

header[theme='primary'] .el-avatar i {
    color: #C0C4CC;
}

form {
    max-width: 600px;
}
